* {
  margin: 0;
  padding: 0;
}
body {
  background: #f5f5f5;
}
.header {
  height: 102px;
  border-bottom: 3px solid #ff6700;
  background: #fff;
}
.header-con {
  width: 1226px;
  height: 102px;
  margin: 0 auto;
  padding: 27px 0;
  box-sizing: border-box;
}
.header-con .log {
  width: 48px;
  height: 48px;
  float: left;
  margin-right: 20px;
}
.header-con .log img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}
.header-con .title {
  width: 491px;
  height: 48px;
  float: left;
}
.header-con .title h2 {
  float: left;
  font-size: 28px;
  color: #424242;
  font-weight: 400;
}
.header-con .title p {
  float: left;
  color: #757575;
  font-size: 12px;
  height: 48px;
  line-height: 48px;
  margin-left: 15px;
}
.header-con ul {
  width: 200px;
  height: 48px;
  float: right;
  list-style: none;
}
.header-con ul li {
  float: left;
  color: #757575;
  font-size: 12px;
  width: 90px;
  height: 48px;
  text-align: center;
  line-height: 48px;
}
/*空购物车样式*/
.empty-carts {
  height: 468px;
  /* display: none; */
}
.empty-carts .con {
  width: 1226px;
  height: 468px;
  margin: 0 auto;
  background: #f7f7f7;
}
.empty-carts .con .bj {
  width: 339px;
  height: 302px;
  float: left;
  margin-top: 65px;
}
.empty-carts .con .tip {
  width: 668px;
  height: 302px;
  float: right;
  margin-top: 150px;
}
.empty-carts .con .tip h1 {
  color: #b0b0b0;
  font-size: 36px;
}
.empty-carts .con .tip a {
  text-decoration: none;
  color: #333;
  background: #ccc;
  display: block;
  width: 172px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  margin-top: 15px;
}
.empty-carts .con .tip a:hover {
  color: #fff;
  background: #ff6700;
}
.list-menu {
  height: auto;
}
.list-menu .menu-con {
  width: 1226px;
  height: auto;
  margin: 0 auto;
  border-top: 1px solid #ccc;
  background: #f5f5f5;
}
.list-menu .menu-con .li {
  width: 234px;
  height: 300px;
  margin: 0 0 14px 11px;
  float: left;
  background: #fff;
}
/*动画样式添加*/
.list-menu .menu-con .li:hover {
  animation: shadow-drop-2-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
.list-menu .menu-con .li img {
  margin: 40px 47px 20px;
  width: 140px;
  height: 140px;
}
.list-menu .menu-con .li .title {
  font-size: 14px;
  color: #333;
  width: 214px;
  height: 18px;
  margin: 0 10px 10px;
  text-align: center;
}
.list-menu .menu-con .li .price {
  width: 234px;
  height: 21px;
  color: #ff6700;
  font-size: 14px;
  margin: 0 0 10px;
  text-align: center;
}
.list-menu .menu-con .li .btn {
  width: 122px;
  height: 30px;
  margin: 0 auto;
  font-size: 14px;
  color: #333;
  text-align: center;
  line-height: 30px;
}
.list-menu .menu-con .li .btn:hover {
  background: #ff6700;
  color: #fff;
}
h2 {
  height: 40px;
  color: #757575;
  text-align: center;
  font-size: 30px;
  margin: 30px 0 20px;
}
